<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/main.css" rel="stylesheet" />
    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
      <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Cairo:400,600,700,900|Source+Sans+Pro|Fira+Code|Material+Icons"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
    <title>Talk Analytics</title>
</head>
<body>
 
<!--------before-----click------->

<div class="abc"> 
  <h1 ><%= JSON.stringify(filename) %></h1>

</div>


<div  class="flex flex-col items-center parent">
  <div  class="flex_bold">

      <audio   id="adi" src="<%= fileUrl %>"controls></audio>
      <!-------Speed DropDown----->
      <div  class="dropdown">
          <button  class="dropbtn">Speed</button>
          <span class="caret"></span>
                <div class="dropdown-content">

                    <button  onclick="setPlaySpeed(0.5)" type="button">0.5x</button>
                    <button   onclick="setPlaySpeed(0.7)" type="button">0.7 x</button>
                    <button   onclick="setPlaySpeed(1.0)" type="button">1.0x</button>
                    <button   onclick="setPlaySpeed(1.25)" type="button">1.25x</button>
                    <button  onclick="setPlaySpeed(1.5)" type="button">1.5x</button> 
                </div>
      </div>  

              <div  class="flex flex-row space-x-8 flex-wrap mt-16">
               <!-- <div class="flex flex-col"> -->
                    <% speakers.forEach(( duration, speakerId)=>{ %>
                        <div class="font-bold text-lg mt-8 speaker"> Speaker <%= speakerId %>
                        </div>
                <div  class="text-sm  speaker">
                     <%= Math.round(duration/60).toString().padStart(2, "0" ) + ":" +
                     Math.round(duration%60).toString().padStart(2, "0" ) %>
                </div>
                <div  class="text-sm speaker">
                    <%= Math.round(duration / speakers.reduce((a,b)=>a+b,0)*100) + "%" %>
                </div>
      

      </div>
    </div>
  </div>
  <div class="boxes-list-conainer">
    <!------- Check-buttons----->
    <div  class="confidence-list">
      <!-- Model Part -->
      <% if (body.enhance=='true' ) { %>

      <label  hidden class="switch"> <h1>Model Enhanced </h1>
        
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" class="__web-inspector-hide-shortcut__"><path d="M5.24911 9.43253L2.81661 7.00003L1.98828 7.82253L5.24911 11.0834L12.2491 4.08336L11.4266 3.26086L5.24911 9.43253Z" fill="currentcolor"></path></svg>
      </label>
      <% } %>

      <!--  -->
      <% if (body.phonecall =='true' ) { %>

      <label  hidden class="switch"> <h1>Model Phonecall Enhanced </h1>
        
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" class="__web-inspector-hide-shortcut__"><path d="M5.24911 9.43253L2.81661 7.00003L1.98828 7.82253L5.24911 11.0834L12.2491 4.08336L11.4266 3.26086L5.24911 9.43253Z" fill="currentcolor"></path></svg>
      </label>
      <% } %>

      <!--  -->
      <% if (body.enhance=='false' && body.phonecall=='false')  { %>

      <label  hidden class="switch"> <h1>Model General </h1>
        
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" class="__web-inspector-hide-shortcut__"><path d="M5.24911 9.43253L2.81661 7.00003L1.98828 7.82253L5.24911 11.0834L12.2491 4.08336L11.4266 3.26086L5.24911 9.43253Z" fill="currentcolor"></path></svg>
      </label>
      <% } %>
<!-- Filter part -->

      <% if (body.diarize=='true' ) { %>
      
      <label   class="switch"> <h1  >Show Speakers </h1>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" class="__web-inspector-hide-shortcut__"><path d="M5.24911 9.43253L2.81661 7.00003L1.98828 7.82253L5.24911 11.0834L12.2491 4.08336L11.4266 3.26086L5.24911 9.43253Z" fill="currentcolor"></path></svg>
      </label> 
      
      <% } %>


      <% if (body.punctuate=='true' ) { %>
      <label   class="switch"> <h1  >Punctuation</h1>
   
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" class="__web-inspector-hide-shortcut__"><path d="M5.24911 9.43253L2.81661 7.00003L1.98828 7.82253L5.24911 11.0834L12.2491 4.08336L11.4266 3.26086L5.24911 9.43253Z" fill="currentcolor"></path></svg>
     
      </label>
      <% } %>
      <% if (body.numerals=='true' ) { %>
      <label  hidden class="switch"> <h1 >Numerals</h1>  
 
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" class="__web-inspector-hide-shortcut__"><path d="M5.24911 9.43253L2.81661 7.00003L1.98828 7.82253L5.24911 11.0834L12.2491 4.08336L11.4266 3.26086L5.24911 9.43253Z" fill="currentcolor"></path></svg>
      
      </label>
      <% } %>
      <% if (body.confidence=='true' ) { %>
        <label  hidden class="switch"> <h1 >Show Condfidence  </h1>  
   
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" class="__web-inspector-hide-shortcut__"><path d="M5.24911 9.43253L2.81661 7.00003L1.98828 7.82253L5.24911 11.0834L12.2491 4.08336L11.4266 3.26086L5.24911 9.43253Z" fill="currentcolor"></path></svg>
        
        </label>
        <% } %>
    </div>  

    <div  class="area">
        <!---copy--button-->
        <button  class="copy" onclick="copyToClip()">
          Copy text to clipboard
        </button>
    
            <!-- Download button-->
            <button  class="btn" onclick=saveTextAsFile(document.getElementById('foo').innerHTML,"download.docx")><i class="fa fa-download"></i> Download Doc</button>
      <%
      if(body.confidence=='true'){ %>
       <span style="color:#fff"> OverAll Confidence: <span id="overall_confidence"><%= transcription.results.channels[0].alternatives[0].confidence*100 %></span>%</span>
        <% } %>
    </div>

    <!------- Output In Boxes ---------->
    <div  class="boxes">
      <!-- Raw Transcription -->
          <div class="word-box2">
            <h1  id="a">Raw Transcription</h1> 

            <!-- <span  id='b' style="color:#fff"><%= transcriptionOriginal.results.channels[0].alternatives[0].transcript.split(' ')[0] %></span> -->
            <% for (var i = 0; i < transcriptionOriginal.results.channels[0].alternatives[0].words.length;  i++ ) { %>
                <span id="abcdef" class="words" end="<%= transcriptionOriginal.results.channels[0].alternatives[0].words[i].end %>" target="<%= transcriptionOriginal.results.channels[0].alternatives[0].words[i].word %>" start="<%= transcriptionOriginal.results.channels[0].alternatives[0].words[i].start %>">   <%= transcriptionOriginal.results.channels[0].alternatives[0].words[i].word %> </span>
            <% } %>
          </div>


        <!-- Requested Transcription -->

      <h2 class="editor">Text Editor</h2>
  
        <div  id = "foo" class="words-box">
          
          <% if((body.punctuate=='true' || body.numerals =='true') && body.diarize=='false'){
              var data  =  transcription.results.channels[0].alternatives[0]; 
              var key = 'punctuated_word'; 
              %>
              
            <p   class="words" >   <%= data.transcript %></p>
            <% } 
            else if(body.punctuate=='false' && body.numerals =='false' && body.diarize=='false'){
              var data = transcriptionOriginal.results.channels[0].alternatives[0].words;
              var key = 'word'; 
            } else {
              if(body.diarize=='true' && body.punctuate=='false' && body.numerals=='false'){
                var data  =  transcription.results.channels[0].alternatives[0].words;
                var key = 'word'; 
            
          

              }  else if(body.punctuate=='true'){
             
               if(body.diarize=='true'){
              var data = transcription.results.channels[0].alternatives[0].words;
              var key = 'punctuated_word'; 
              }
            }
            else if(body.diarize=='true'){
            
               if (body.numerals=='true'){
                var data = transcription.results.channels[0].alternatives[0].words;
                var key = 'word'; 
              
                }
              
              }

          }
                if(body.diarize=='true'){
                    var speaker = data[0].speaker; %>
                  <p style="color:#05f30d">Speaker     <%= speaker %> &nbsp; : &nbsp;</p>
                  <% for (var i = 0; i < data.length;  i++ ) {
                    if(speaker!=data[i].speaker){ %>
                     
                      <p style="color:#05f30d"><br> Speaker:   <%= speaker %> </p>
                      <% speaker =  data[i].speaker 
                      }
                      if(data[i].confidence < 0.85 && data[i].confidence > 0.75){ %>
                  
                     
                        <span  style="color:#dc143c;"><%= data[i][key] %></span>
  
                       <% } else {
                    
                      %>
                      <span ><%= data[i][key] %></span>
                      <% 
                       }
                      } 
                }
                else{
              for (var i = 0; i < data.length;  i++ ) { 
                if(data[i].confidence < 0.85 && data[i].confidence > 0.75){ %>
                  
                     
                  <span  style="color:#dc143c;"><%= data[i][key] %></span>

                 <% } else{
               
                
                %>
                <span >   <%= data[i][key] %> </span>
                <% }   } } %>
        </div>  
     </div>
  </div>

<% }); %>


        
      <!----------CSS Stylr---------->
<style>
  .here{
    text-decoration: underline;
    text-decoration-color: yellow;
  }
  .words{
    color:#fff;
  }
</style>


<!--------Script Part----->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script>
        var confidence = parseFloat($('#overall_confidence').html());
        confidence =Math.round(confidence * 100) / 100;
        $('#overall_confidence').html(confidence);
//-----audio Click ------

( function(win, doc) {
            var audioPlayer = doc.getElementById("adi");
            var subtitles = doc.getElementsByClassName("words");
                var syncData = <%- JSON.stringify(transcription.results.channels[0].alternatives[0].words) %>;

            

            audioPlayer.addEventListener("timeupdate", function(e){
                syncData.forEach(function(element, index, array){
                    if( audioPlayer.currentTime >= element.start && audioPlayer.currentTime <= element.end ){
                        $('.words').removeClass('here');
                        subtitles[index].classList.add('here');
                }
        });
            });
                  }
                    (window, document));


        // on click 

        var audio = document.getElementById('adi');
        var target = document.getElementsByClassName('words')[0]
        var syncData = <%- JSON.stringify(transcription.results.channels[0].alternatives[0].words) %>;
        syncData.forEach(function (element ) {
        $('span' ).on('click' , function(event){
          $(this).css('cursor', 'pointer');
     
      a = $(this).attr('start')
  

          if (
        audio.currentTime = a ){
          
                  $(this).attr(audio.play())
        }
        else{
          console.log('error')
        }
        })
         
      })



  function copyToClip() {
    var str = document.getElementById('foo').innerHTML;
    // console.log(str);  
  function listener(e) {
    
    var  a = e.clipboardData.setData("text/html", str);
    // e.clipboardData.setData("rtf/html", str);
    e.preventDefault();
    console.log(a);
  }
  document.addEventListener("copy", listener);
  document.execCommand("copy");
  document.removeEventListener("copy", listener);
  console.log("copied" , str);
  alert("The content is copied.")
};

// DownLoad Button Click
  
async function saveTextAsFile(textToWrite, fileNameToSaveAs)
    {
    	var textFileAsBlob = new Blob([textToWrite], {type: textToWrite}); 
      console.log('abc',textFileAsBlob)  
    	var downloadLink = document.createElement("a");
      var aa = await textFileAsBlob.text();
    	downloadLink.download = fileNameToSaveAs;
    	downloadLink.innerHTML = "Download File";
    	if (window.webkitURL != null)
    	{
    		// Chrome allows the link to be clicked
    		// without actually adding it to the DOM.
    		downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
        console.log('href1' ,downloadLink.href);

    	}
    	else
    	{
    		// Firefox requires the link to be added to the DOM
    		// before it can be clicked.
    		downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
        console.log('href2' ,downloadLink.href);


    		downloadLink.onclick = destroyClickedElement;
    		downloadLink.style.display = "none";
    		document.body.appendChild(downloadLink);
    	}
      // console.log('real' ,window.URL.createObjectURL(textFileAsBlob))
    
    	downloadLink.click();
    }

       
      
      </script>
<!-- Initialize Quill editor -->
<script>
  var quill = new Quill('#foo', {
    theme: 'snow'
  });
</script>

 <!-- Playback Speed -->
<script>
var audio = document.getElementById("adi");
function setPlaySpeed(speed) {
  audio.playbackRate = speed;
  // alert( audio.playbackRate);
}
$(".dropdown-content button").click(function(){
  
  $(".dropbtn:first-child").html($(this).text()+' <span class="caret"></span>');
  
});



</script>  


<!-------------On click Enable event---------->

<script>
  
        const fileName = document.querySelector("#file-name");
        const fileInput = document.querySelector("#file-input");
        fileInput.addEventListener("change", () => {
          fileName.textContent = fileInput.files[0].name;
          document
        .querySelectorAll(".in-second-screen")
        .forEach((node) => (node.hidden = false));
    });

</script>

<script>
  $("#foo p").has( "span" ).css({
                                    'width' : '85%',
                                    'margin-left' : 'auto',
                                  });
</script>

        <!----------script---------->
  
</body>
</html>
