<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/main.css" rel="stylesheet" />
    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
      <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Cairo:400,600,700,900|Source+Sans+Pro|Fira+Code|Material+Icons"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
    <title>Talk Analytics</title>
</head>
<body>
 
<!--------before-----click------->
<form   id="flex" action="/" enctype="multipart/form-data" method="POST">
  <div class="browse">
    <span   id="font">FROM YOUR DEVICE:</span>
    <input   hidden type="file" id="file-input" name="file" required  />

  
  <label   id="bold"
    for="file-input" id="file-input-label">
    Browse Files
  </label>
  <div class="font-bold text-3xl py-3 in-second-screen" id="file-name" ></div>
</div>


<div class="abc"> 
  <h1 ><%= JSON.stringify(filename) %></h1>
<button type="submit" id="submit" class="transcript-button" hidden > 
Analyze</button>
</div>

<button type="submit" id="submit1">Show Results</button>
<!---------After Click------Setup---------------->

<div  class="flex flex-col items-center parent">
  <div  class="flex_bold">

      <audio   id="adi" src="<%= fileUrl %>"controls></audio>
      <!-------Speed DropDown----->
      <div  class="dropdown">
          <button  class="dropbtn">Speed</button>
          <span class="caret"></span>
                <div class="dropdown-content">

                    <button  onclick="setPlaySpeed(0.9)" type="button">0.9x</button>
                    <button   onclick="setPlaySpeed(1)" type="button">1x</button>
                    <button   onclick="setPlaySpeed(1.2)" type="button">1.2x</button>
                    <button   onclick="setPlaySpeed(2.5)" type="button">2.5x</button>
                    <button  onclick="setPlaySpeed(5.2)" type="button">5.2x</button> 
                </div>
      </div>  

              <div  class="flex flex-row space-x-8 flex-wrap mt-16">
               <!-- <div class="flex flex-col"> -->
                    <% speakers.forEach(( duration, speakerId)=>{ %>
                        <div class="font-bold text-lg mt-8 speaker"> Speaker <%= speakerId %>
                        </div>
                <div  class="text-sm  speaker">
                     <%= Math.round(duration/60).toString().padStart(2, "0" ) + ":" +
                     Math.round(duration%60).toString().padStart(2, "0" ) %>
                </div>
                <div  class="text-sm speaker">
                    <%= Math.round(duration / speakers.reduce((a,b)=>a+b,0)*100) + "%" %>
                </div>
      

      </div>
    </div>
  </div>
  <!------- Check-buttons----->
  <div class="confidence-list">
    <label class="switch"> <h1>Confidence</h1>
      <input id="switch-button" type="checkbox"onclick="Check()">
      <span class="slider round">	</span>
    </label>
    
    <label class="switch"> <h1>Speaker Id</h1>
      <input id="switch-button2" type="checkbox"onclick="Check2()">
      <span class="slider round">	</span>
    </label>
  
    <label class="switch"> <h1>Punctuation</h1>
      <input id="switch-button3" type="checkbox"onclick="Check3()">
      <span class="slider round">	</span>
    </label>
  
    <label class="switch"> <h1>Numeral</h1>  
      <input id="switch-button4" type="checkbox"onclick="Check()">
      <span class="slider round">	</span>
    </label>
  </div>  
  <!------- Output In Boxes ---------->
  <div hidden class="boxes">

        <div hidden class="words-box">
                <h1 hidden id="a">Words In Audio file</h1> 
                <!-- <span class="tooltiptext"> done</span> -->
                <!-- <p ><%= JSON.stringify(transcription.results.channels[0].alternatives[0].transcript) %> </p> -->
                <span hidden id='b' style="color:#fff"><%= transcription.results.channels[0].alternatives[0].transcript.split(' ')[0] %></span>
                <% for (var i = 0; i < transcription.results.channels[0].alternatives[0].words.length;  i++ ) { %>
                <span hidden class="words" end="<%= transcription.results.channels[0].alternatives[0].words[i].end %>" target="<%= transcription.results.channels[0].alternatives[0].words[i].word %>" start="<%= transcription.results.channels[0].alternatives[0].words[i].start %>">   <%= transcription.results.channels[0].alternatives[0].words[i].word %> </span>

                <% } %>
        </div>  

        <div hidden class="side-box"> 
              <h3 hidden id="c">Response</h3>
                    <div hidden class="sidewords">
                      <pre hidden id="div1">   <%= JSON.stringify(transcription , null, 3) %> </pre>

                          <pre hidden id="div2">   <%= JSON.stringify(transcription.results.channels[0].alternatives[0].words.map(o => new Object({word: o.word, speaker_confidence: o.speaker_confidence , confidence: o.confidence}))) %> </pre>

                                <pre hidden id="div3">   <%= JSON.stringify(transcription.results.channels[0].alternatives[0].words.map(o => new Object({speaker: o.speaker, speaker_confidence: o.speaker_confidence}))) %> </pre>

                                      <pre hidden id="div4">   <%= JSON.stringify(transcription.results.channels[0].alternatives[0].words.map(o => new Object({punctuated_word: o.punctuated_word, speaker_confidence: o.speaker_confidence}))) %> </pre>

                                              <pre hidden id="div5">   <%= JSON.stringify(transcription.results.channels[0].alternatives[0].words.map(o => new Object({word: o.word , speaker: o.speaker ,  punctuated_word: o.punctuated_word, speaker_confidence: o.speaker_confidence , }))) %> </pre>


                    </div>
                    <!-- <pre id="div2"> HEllo</pre> -->  

        </div>


</div>

<% }); %>

<!--------Text Editor ------>
<div hidden class="area">
        <!---copy--button-->
        <button hidden class="copy" onclick="copyToClip()">
               Copy the stuff
        </button>

              <!-- Download button-->
              <button hidden class="btn" onclick=saveTextAsFile(document.getElementById('foo').innerHTML,"download.rtf")><i class="fa fa-download"></i> Download</button>

<!------------Text Editor Content----->
  <p hidden id="foo" style="color:black"><%= JSON.stringify(transcription.results.channels[0].alternatives[0].transcript) %></p>
  </div>

        
      <!----------CSS Stylr---------->
<style>
  .here{
    text-decoration: underline;
    text-decoration-color: yellow;
  }
  .words{
    color:#fff;
  }
</style>


<!--------Script Part----->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script>

//-----audio Click ------

( function(win, doc) {
            var audioPlayer = doc.getElementById("adi");
            var subtitles = doc.getElementsByClassName("words");
                var syncData = <%- JSON.stringify(transcription.results.channels[0].alternatives[0].words) %>;

            

            audioPlayer.addEventListener("timeupdate", function(e){
                syncData.forEach(function(element, index, array){
                    if( audioPlayer.currentTime >= element.start && audioPlayer.currentTime <= element.end ){
                        $('.words').removeClass('here');
                        subtitles[index].classList.add('here');
                }
        });
            });
                  }
                    (window, document));


        // on click 

        var audio = document.getElementById('adi');
        var target = document.getElementsByClassName('words')[0]
        var syncData = <%- JSON.stringify(transcription.results.channels[0].alternatives[0].words) %>;
        syncData.forEach(function (element ) {
        $('span' ).on('click' , function(event){
          $(this).css('cursor', 'pointer');
        //   $(this).find(element.currentTime, element.start , element.target ) 
        //   .addEventListener(change , function(e){
        // audio.currentTime =  

  // const attrs = Object.fromEntries(Array.from(this.attributes).map(item => [item.start]))
  // console.log(attrs.start) // "test"

      //  var a = $(this).val(element.start)
      a = $(this).attr('start')
      // console.log(a);
  // })
      //   console.log()
        // let value = element.start.childNodes.nodeValue;
        // console.log(value) // "test"
  //       const attrs = Object.fromEntries(Array.from(a.attributes).map(item => [item.start]))
  // console.log(attrs.start) // "test"
        // if(typeof $(this).attr('start') != "undefined"){ 
        //   console.log($(this).attr('src'));
        //   }
          if (
        audio.currentTime = a ){
          // console.log(audio.currentTime)
                  $(this).attr(audio.play())
        }
        else{
          cpnsole.log('error')
        }
        })
          // target[index].classList.add('here')
      })
      
      
      
  // Copy Button for Text-area


  function copyToClip() {
    var str = document.getElementById('foo').innerHTML;
  function listener(e) {
    
    // e.clipboardData.setData("text/html", str);
    e.clipboardData.setData("text/html", str);
    e.preventDefault();
  }
  document.addEventListener("copy", listener);
  document.execCommand("copy");
  document.removeEventListener("copy", listener);
  console.log("copied" , str);
  alert("The content is copied.")
};

// DownLoad Button Click

async function saveTextAsFile(textToWrite, fileNameToSaveAs)
    {
    	var textFileAsBlob = new Blob([textToWrite], {type:'rtf/plain'}); 

    	var downloadLink = document.createElement("a");
      var aa = await textFileAsBlob.text();
      console.log(aa);
    	downloadLink.download = fileNameToSaveAs;
    	downloadLink.innerHTML = "Download File";
    	if (window.webkitURL != null)
    	{
    		// Chrome allows the link to be clicked
    		// without actually adding it to the DOM.
    		downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
    	}
    	else
    	{
    		// Firefox requires the link to be added to the DOM
    		// before it can be clicked.
    		downloadLink.href = window.URL.createObjectURL(textFileAsBlob);

    		downloadLink.onclick = destroyClickedElement;
    	////	downloadLink.style.display = "none";
    		document.body.appendChild(downloadLink);
    	}
      console.log(window.URL.createObjectURL(textFileAsBlob))
    
    	//downloadLink.click();
    }

       
      
      </script>
<!-- Initialize Quill editor -->
<script>
  var quill = new Quill('#foo ', {
    theme: 'snow'
  });
</script>

 <!-- Playback Speed -->
<script>
var audio = document.getElementById("adi");
function setPlaySpeed(speed) {
  audio.playbackRate = speed;
  // alert( audio.playbackRate);
}
$(".dropdown-content button").click(function(){
  
  $(".dropbtn:first-child").html($(this).text()+' <span class="caret"></span>');
  
});



// CheckBox
// 1 Confidence
function Check() {
  // Get the checkbox
  var checkBox = document.getElementById("switch-button");
  // Get the output text
  var text = document.getElementById("div1");
var text1 = document.getElementById("div2");
  // If1 the checkbox is checked, display the output text
  if (checkBox.checked == true){
    text.style.display = "none";
    text1.style.display = "block";
    
  } else {  
  text.style.display = "block"
    text1.style.display = "none";
  }
}

// 2 Speaerid
function Check2() {
  // Get the checkbox
  var checkBox = document.getElementById("switch-button2");
  // Get the output text
  var text = document.getElementById("div1");
var text1 = document.getElementById("div2");
var text2 = document.getElementById("div3");

  // If1 the checkbox is checked, display the output text
  if (checkBox.checked == true){
    text.style.display = "none";
    text1.style.display = "none";
    text2.style.display = "block";

    
  } else {  
  text.style.display = "block"
    text1.style.display = "none";
    text2.style.display = "none";

  }
}


// 3 Punctuation


function Check3() {
  // Get the checkbox
  var checkBox = document.getElementById("switch-button3");
  // Get the output text
  var text = document.getElementById("div1");
var text1 = document.getElementById("div2");
var text2 = document.getElementById("div3");
var text3 = document.getElementById("div4");

  // If1 the checkbox is checked, display the output text
  if (checkBox.checked == true){
    text.style.display = "none";
    text1.style.display = "none";
    text2.style.display = "none";
    text3.style.display = "block";

    
  } else {  
  text.style.display = "block"
    text1.style.display = "none";
    text2.style.display = "none";
    text3.style.display = "none";
  }
}
</script>  


<!-------------On click Enable event---------->

<script>
  $(document).ready(function(){
        $("#submit1").click(function(){
        // $(".flex flex-col items-center parent").show();
        // $("#adi").show();
        // $(".flex_bold").show();
        // $(".flex flex-row space-x-8 flex-wrap mt-16").show();
        // $(".font-bold text-lg mt-8 speaker").show();
        // $(".text-sm  speaker").show();
        // $(".text-sm speaker").show();
        // $(".dropdown").show();
        // $(".dropbtn").show();
        // $(".dropdown-content").show();
        // $(".confidence-list").show();
        // $(".switch").show();
        // $("#switch-button").show();
        // $(".slider round").show();
        // $("#switch-button2").show();
        // $("#switch-button3").show();
        // $("#switch-button4").show();
        $(".boxes").show();
        $(".words-box").show();
        $("#a").show();
        $("#b").show();
        $(".words").show();
        $(".side-box").show();
        $("#c").show();
        $(".sidewords").show();
        // $("#div1").show();
        $("#submit").show();
        $("#submit1").hide();
        // $("#file-input-label").show();
        $(".area").show();
        $(".copy").show();
        $(".btn").show();
        $("#foo").show();
        $("#flex").show();
        $("#font").show();
        $("#bold").show();
        // $("#file-input").show();
        $("#file-name").show();
        // $(".abc").hide();

            });
        });

        const fileName = document.querySelector("#file-name");
        const fileInput = document.querySelector("#file-input");
        fileInput.addEventListener("change", () => {
          fileName.textContent = fileInput.files[0].name;
          document
        .querySelectorAll(".in-second-screen")
        .forEach((node) => (node.hidden = false));
    });

</script>

<script>
  //1
  $(document).ready(function () { 
    var chkid = localStorage.getItem("chkId1");
    if (chkid  === 'switch-button1') {
      $('#switch-button').attr('checked', true);
      $('#div2').show();
    }
    // else{
    //   $('#div1').hide();
    //   $('#div3').hide();
    //   $('#div4').hide();

    
    // }  
  });
  //2
  $(document).ready(function () { 
    var chkid = localStorage.getItem("chkId2");
    if (chkid  === 'switch-button2') {
      $('#switch-button2').attr('checked', true);
      $('#div3').show();
    }
    //   else{
    //   $('#div1').hide();
    //   $('#div2').hide();
    //   $('#div4').hide();
    
    // }  
  });
  //3
  $(document).ready(function () { 
    var chkid = localStorage.getItem("chkId3");
    if (chkid  === 'switch-button3') {
      $('#switch-button3').attr('checked', true);
      $('#div4').show();
    }
  //   else{
  //   $('#div1').hide();
  //   $('#div3').hide();
  //   $('#div2').hide();
  // }
     
  });
  //4
  $(document).ready(function () { 
    var chkid = localStorage.getItem("chkId4");
    if (chkid  === 'switch-button4') {
      $('#switch-button4').attr('checked', true);
    }  
  });
  //extra
  // $(document).ready(function () { 
  //   var chkid1 = localStorage.getItem("chkId1");
  //   var chkid2 = localStorage.getItem("chkId2");
  //   var chkid3 = localStorage.getItem("chkId3");
  //   var chkid4 = localStorage.getItem("chkId4");
  //   if (chkid4  === 'switch-button4' || chkid3 === 'switch-button3' || chkid2 === 'switch-button2'|| chkid1 === 'switch-button1')  {
  //     $('#switch-button4' , '#switch-button3' ,'#switch-button2' , '#switch-button1' ).attr('checked', true);
  //     // $('#switch-button3').attr('checked', true);
  //     // $('#switch-button2').attr('checked', true);
  //     // $('#switch-button').attr('checked', true);
  //     $('#div5').show();
  //   }  
  // });

</script>


      <!----------script---------->
 
</body>
</html>
