<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/main.css" rel="stylesheet" />
    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
      <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Cairo:400,600,700,900|Source+Sans+Pro|Fira+Code|Material+Icons"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
    <title>Talk Analytics</title>
</head>
<body>
 
<!--------before-----click------->
<form   id="flex" action="/" enctype="multipart/form-data" method="POST">
  <div class="browse">
  
  <div class="font-bold text-3xl py-3 in-second-screen" id="file-name" ></div>
</div>


<div class="abc"> 
  <h1 ><%= JSON.stringify(filename) %></h1>

</div>
</form>
<!-- <button type="submit" id="submit1">Show Results</button> -->
<!---------After Click------Setup---------------->

<div  class="flex flex-col items-center parent">
  <div  class="flex_bold">

      <audio   id="adi" src="<%= fileUrl %>"controls></audio>
      <!-------Speed DropDown----->
      <div  class="dropdown">
          <button  class="dropbtn">Speed</button>
          <span class="caret"></span>
                <div class="dropdown-content">

                    <button  onclick="setPlaySpeed(0.9)" type="button">0.9x</button>
                    <button   onclick="setPlaySpeed(1)" type="button">1x</button>
                    <button   onclick="setPlaySpeed(1.2)" type="button">1.2x</button>
                    <button   onclick="setPlaySpeed(2.5)" type="button">2.5x</button>
                    <button  onclick="setPlaySpeed(5.2)" type="button">5.2x</button> 
                </div>
      </div>  

              <div  class="flex flex-row space-x-8 flex-wrap mt-16">
               <!-- <div class="flex flex-col"> -->
                    <% speakers.forEach(( duration, speakerId)=>{ %>
                        <div class="font-bold text-lg mt-8 speaker"> Speaker <%= speakerId %>
                        </div>
                <div  class="text-sm  speaker">
                     <%= Math.round(duration/60).toString().padStart(2, "0" ) + ":" +
                     Math.round(duration%60).toString().padStart(2, "0" ) %>
                </div>
                <div  class="text-sm speaker">
                    <%= Math.round(duration / speakers.reduce((a,b)=>a+b,0)*100) + "%" %>
                </div>
      

      </div>
    </div>
  </div>
  <div class="boxes-list-conainer">
    <!------- Check-buttons----->
    <div hidden class="confidence-list">
      <% if (body.utterances=='true' ) { %>

      <label  hidden class="switch"> <h1  >Utterances</h1>
        
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" class="__web-inspector-hide-shortcut__"><path d="M5.24911 9.43253L2.81661 7.00003L1.98828 7.82253L5.24911 11.0834L12.2491 4.08336L11.4266 3.26086L5.24911 9.43253Z" fill="currentcolor"></path></svg>
      </label>
      <% } %>
      
      <% if (body.diarize=='true' ) { %>
      
      <label   class="switch"> <h1  >Diarize </h1>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" class="__web-inspector-hide-shortcut__"><path d="M5.24911 9.43253L2.81661 7.00003L1.98828 7.82253L5.24911 11.0834L12.2491 4.08336L11.4266 3.26086L5.24911 9.43253Z" fill="currentcolor"></path></svg>
      </label> 
      
      <% } %>


      <% if (body.punctuate=='true' ) { %>
      <label   class="switch"> <h1  >Punctuate</h1>
   
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" class="__web-inspector-hide-shortcut__"><path d="M5.24911 9.43253L2.81661 7.00003L1.98828 7.82253L5.24911 11.0834L12.2491 4.08336L11.4266 3.26086L5.24911 9.43253Z" fill="currentcolor"></path></svg>
     
      </label>
      <% } %>
      <% if (body.numerals=='true' ) { %>
      <label  hidden class="switch"> <h1 >Numeral</h1>  
 
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" class="__web-inspector-hide-shortcut__"><path d="M5.24911 9.43253L2.81661 7.00003L1.98828 7.82253L5.24911 11.0834L12.2491 4.08336L11.4266 3.26086L5.24911 9.43253Z" fill="currentcolor"></path></svg>
      
      </label>
      <% } %>
    </div>  

    <div  class="area">
      <!---copy--button-->
      <button  class="copy" onclick="copyToClip()">
              Copy the stuff
      </button>
    
      <!-- Download button-->
      <button  class="btn" onclick=saveTextAsFile(document.getElementById('foo').innerHTML,"download.rtf")><i class="fa fa-download"></i> Download</button>
      <%
      if(body.confidence=='true'){ %>
       <span style="color:#fff"> OverAll Confidence: <span id="overall_confidence"><%= transcription.results.channels[0].alternatives[0].confidence*100 %></span>%</span>
        <% } %>
    </div>

    <!------- Output In Boxes ---------->
    <div  class="boxes">
      <div class="word-box2">
        <h1  id="a">Actual Respose</h1> 

        <!-- <span  id='b' style="color:#fff"><%= transcriptionOriginal.results.channels[0].alternatives[0].transcript.split(' ')[0] %></span> -->
        <% for (var i = 0; i < transcriptionOriginal.results.channels[0].alternatives[0].words.length;  i++ ) { %>
          <span id="abcdef" class="words" end="<%= transcriptionOriginal.results.channels[0].alternatives[0].words[i].end %>" target="<%= transcriptionOriginal.results.channels[0].alternatives[0].words[i].word %>" start="<%= transcriptionOriginal.results.channels[0].alternatives[0].words[i].start %>">   <%= transcriptionOriginal.results.channels[0].alternatives[0].words[i].word %> </span>
          <% } %>
      </div>
    
        <div  id = "foo" class="words-box">
          
          <% if((body.punctuate=='true' || body.numerals =='true') && body.         diarize=='false' && body.utterances=='false'){
              var data  =  transcription.results.channels[0].alternatives[0]; 
              var key = 'punctuated_word'; 
              %>
              
            <p style="color:white"  class="words" >   <%= data.transcript %></p>
            <% } 
            else if(body.punctuate=='false' && body.numerals =='false' && body.diarize=='false'){
              var data = transcriptionOriginal.results.channels[0].alternatives[0].words;
              var key = 'word'; 
            } else {
              if(body.diarize=='true' && body.punctuate=='false' && body.numerals=='false'){
                var data  =  transcription.results.channels[0].alternatives[0].words;
                var key = 'word'; 
            
          

              }  else if(body.punctuate=='true'){
             
               if(body.diarize=='true'){
              var data = transcription.results.channels[0].alternatives[0].words;
              var key = 'punctuated_word'; 
              }
            }
            else if(body.diarize=='true'){
            
               if (body.numerals=='true'){
                var data = transcription.results.channels[0].alternatives[0].words;
                var key = 'word'; 
              
                }
              
              }

          }
                if(body.diarize=='true'){
                    var speaker = data[0].speaker; %>
                  <p style="color:#05f30d">Speaker     <%= speaker %> &nbsp; : &nbsp;</p>
                  <% for (var i = 0; i < data.length;  i++ ) {
                    if(speaker!=data[i].speaker){ %>
                     
                      <p style="color:#05f30d"><br> Speaker:   <%= speaker %> </p>
                      <% speaker =  data[i].speaker 
                      }
                      if(data[i].confidence < 0.86){ %>
                  
                     
                        <span  style="color:#dc143c;"><%= data[i][key] %></span>
  
                       <% } else {
                    
                      %>
                      <span style="color:#fff;"><%= data[i][key] %></span>
                      <% 
                       }
                      } 
                }
                else{
              for (var i = 0; i < data.length;  i++ ) { 
                if(data[i].confidence < 0.86){ %>
                  
                     
                  <span  style="color:#dc143c;"><%= data[i][key] %></span>

                 <% } else{
               
                
                %>
                <span style="color:#fff">   <%= data[i][key] %> </span>
                <% }   } } %>
            
            
          
            
                  
<!-- if punctuate is true -->
<!-- <% if (body.punctuate=='true'   || body.numerals=='false' || body.diarize =='false'|| body.utterances =='false') { %>
<% for (var i = 0; i < transcription.results.channels[0].alternatives[0].words.length;  i++ ) { %>
  <span >   <%= transcription.results.channels[0].alternatives[0].words[i].word %> </span>
  <% } %>
<% } %>  -->

    <!--  -->
        </div>  
    </div>


    <div class="boxyz">
          <div  class="side-box"> 
                <h3  id="c">Response</h3>
                      <div  class="sidewords">
                        <pre  id="div1">   <%= JSON.stringify(transcriptionOriginal , null, 3) %> </pre>

                            <!-- <pre hidden id="div2">   <%= JSON.stringify(transcription.results.channels[0].alternatives[0].words.map(o => new Object({word: o.word, speaker_confidence: o.speaker_confidence , confidence: o.confidence}))) %> </pre>

                                  <pre hidden id="div3">   <%= JSON.stringify(transcription.results.channels[0].alternatives[0].words.map(o => new Object({speaker: o.speaker, speaker_confidence: o.speaker_confidence}))) %> </pre>

                                        <pre hidden id="div4">   <%= JSON.stringify(transcription.results.channels[0].alternatives[0].words.map(o => new Object({punctuated_word: o.punctuated_word, speaker_confidence: o.speaker_confidence}))) %> </pre>

                                                <pre hidden id="div5">   <%= JSON.stringify(transcription.results.channels[0].alternatives[0].words.map(o => new Object({word: o.word , speaker: o.speaker ,  punctuated_word: o.punctuated_word, speaker_confidence: o.speaker_confidence , }))) %> </pre> -->


                      </div>
                    </div>

          <div  class="side-box2"> 
            <h3  id="c">Response</h3>
                  <div  class="sidewords2">
                    <pre  id="div1">   <%= JSON.stringify(transcription , null, 3) %> </pre>
                  </div>
                      <!-- <pre id="div2"> HEllo</pre> -->  

          </div>


    </div>
  </div>

<% }); %>

<!--------Text Editor ------>

<!------------Text Editor Content----->
<!-- 
<p  id="foo" style="color:black"><%= JSON.stringify(transcription.results.channels[0].alternatives[0].transcript) %></p>
</div> -->

        
      <!----------CSS Stylr---------->
<style>
  .here{
    text-decoration: underline;
    text-decoration-color: yellow;
  }
  .words{
    color:#fff;
  }
</style>


<!--------Script Part----->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script>
        var confidence = parseFloat($('#overall_confidence').html());
        confidence =Math.round(confidence * 100) / 100;
        $('#overall_confidence').html(confidence);
//-----audio Click ------

( function(win, doc) {
            var audioPlayer = doc.getElementById("adi");
            var subtitles = doc.getElementsByClassName("words");
                var syncData = <%- JSON.stringify(transcription.results.channels[0].alternatives[0].words) %>;

            

            audioPlayer.addEventListener("timeupdate", function(e){
                syncData.forEach(function(element, index, array){
                    if( audioPlayer.currentTime >= element.start && audioPlayer.currentTime <= element.end ){
                        $('.words').removeClass('here');
                        subtitles[index].classList.add('here');
                }
        });
            });
                  }
                    (window, document));


        // on click 

        var audio = document.getElementById('adi');
        var target = document.getElementsByClassName('words')[0]
        var syncData = <%- JSON.stringify(transcription.results.channels[0].alternatives[0].words) %>;
        syncData.forEach(function (element ) {
        $('span' ).on('click' , function(event){
          $(this).css('cursor', 'pointer');
     
      a = $(this).attr('start')
  

          if (
        audio.currentTime = a ){
          
                  $(this).attr(audio.play())
        }
        else{
          console.log('error')
        }
        })
         
      })



  function copyToClip() {
    var str = document.getElementById('foo').innerHTML;
    // console.log(str);  
  function listener(e) {
    
    var  a = e.clipboardData.setData("text/html", str);
    // e.clipboardData.setData("rtf/html", str);
    e.preventDefault();
    console.log(a);
  }
  document.addEventListener("copy", listener);
  document.execCommand("copy");
  document.removeEventListener("copy", listener);
  console.log("copied" , str);
  alert("The content is copied.")
};

// DownLoad Button Click

async function saveTextAsFile(textToWrite, fileNameToSaveAs)
    {
    	var textFileAsBlob = new Blob([textToWrite], {type:'rtf/html'}); 
      // console.log('abc',textFileAsBlob)  
    	var downloadLink = document.createElement("a");
      var aa = await textFileAsBlob.text();
      console.log("aya" ,aa);
    	downloadLink.download = fileNameToSaveAs;
    	downloadLink.innerHTML = "Download File";
    	if (window.webkitURL != null)
    	{
    		// Chrome allows the link to be clicked
    		// without actually adding it to the DOM.
    		downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
        // console.log('href' ,downloadLink.href);

    	}
    	else
    	{
    		// Firefox requires the link to be added to the DOM
    		// before it can be clicked.
    		downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
        console.log('href' ,downloadLink.href);

    		downloadLink.onclick = destroyClickedElement;
    		downloadLink.style.display = "none";
    		document.body.appendChild(downloadLink);
    	}
      // console.log('real' ,window.URL.createObjectURL(textFileAsBlob))
    
    	downloadLink.click();
    }

       
      
      </script>
<!-- Initialize Quill editor -->
<script>
  var quill = new Quill('#foo', {
    theme: 'snow'
  });
</script>

 <!-- Playback Speed -->
<script>
var audio = document.getElementById("adi");
function setPlaySpeed(speed) {
  audio.playbackRate = speed;
  // alert( audio.playbackRate);
}
$(".dropdown-content button").click(function(){
  
  $(".dropbtn:first-child").html($(this).text()+' <span class="caret"></span>');
  
});



// CheckBox
// 1 Confidence
// function Check() {
//   // Get the checkbox
//   var checkBox = document.getElementById("switch-button");
//   // Get the output text
//   var text = document.getElementById("div1");
// var text1 = document.getElementById("div2");
//   // If1 the checkbox is checked, display the output text
//   if (checkBox.checked == true){
//     text.style.display = "none";
//     text1.style.display = "block";
    
//   } else {  
//   text.style.display = "block"
//     text1.style.display = "none";
//   }
// }

// 2 Speaerid
function Check2() {
  // Get the checkbox
  var checkBox = document.getElementById("switch-button2");
  // Get the output text
//   var text = document.getElementById("div1");
// var text1 = document.getElementById("div2");
// var text2 = document.getElementById("div3");
var box3 = document.getElementById("sp");

  // If1 the checkbox is checked, display the output text
  if (checkBox.checked == true){
//     text.style.display = "none";
//     text1.style.display = "none";
//     text2.style.display = "block";
  box3.style.display = "block";

    
  } else {  
//   text.style.display = "block"
//     text1.style.display = "none";
//     text2.style.display = "none";
box3.style.display = "none";


  }
}


// 3 Punctuation


function Check3() {
  // Get the checkbox
  var checkBox = document.getElementById("switch-button3");
  // Get the output text
//   var text = document.getElementById("div1");
// var text1 = document.getElementById("div2");
// var text2 = document.getElementById("div3");
// var text3 = document.getElementById("div4");
var box2 = document.getElementById("sp-pu");
var box1 = document.getElementById("si");

  // If1 the checkbox is checked, display the output text
  if (checkBox.checked == true){
//     text.style.display = "none";
//     text1.style.display = "none";
//     text2.style.display = "none";
//     text3.style.display = "block";
    box2.style.display = "block";
    box1.style.display = "none";


    
  } else {  
//   text.style.display = "block"
//     text1.style.display = "none";
//     text2.style.display = "none";
//     text3.style.display = "none";
box2.style.display = "none";
    box1.style.display = "block ";
  }
}


// Extra 


</script>  


<!-------------On click Enable event---------->

<script>
  
        const fileName = document.querySelector("#file-name");
        const fileInput = document.querySelector("#file-input");
        fileInput.addEventListener("change", () => {
          fileName.textContent = fileInput.files[0].name;
          document
        .querySelectorAll(".in-second-screen")
        .forEach((node) => (node.hidden = false));
    });

</script>

<script>
  $("#foo p").has( "span" ).css({
                                    'width' : '85%',
                                    'margin-left' : 'auto',
                                  });
</script>

        <!----------script---------->
  
</body>
</html>
