<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/main.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Cairo:400,600,700,900|Source+Sans+Pro|Fira+Code|Material+Icons"
      rel="stylesheet"
      type="text/css"
    />
    <title>Talk Analytics</title>
</head>
<body>
<!---------------Setup---------------->

<div class="flex flex-col items-center parent">
  <div class="flex bold">

      <audio  id ="adi" src="<%= fileUrl %>"controls></audio>
   </div>
    <div class="flex flex-row space-x-8 flex-wrap mt-16">
             <!-- <div class="flex flex-col"> -->
              <% speakers.forEach(( duration, speakerId)=>{ %>
                <div class="font-bold text-lg mt-8 speaker"> Speaker <%= speakerId %>
                </div>
                <div class="text-sm  speaker">
                  <%= Math.round(duration/60).toString().padStart(2, "0" ) + ":" +
                    Math.round(duration%60).toString().padStart(2, "0" ) %>
                </div>
                <div class="text-sm speaker">
                  <%= Math.round(duration / speakers.reduce((a,b)=>a+b,0)*100) + "%" %>
                </div>
      

      <!-- </div> -->
    </div>
  </div>

  <div class="boxes">

    <div class="words-box">
        <h1>Words In Audio file</h1> 
        <!--p ><%= JSON.stringify(transcription.results.channels[0].alternatives[0].transcript) %> </p-->
        <span class="words1" ><%= transcription.results.channels[0].alternatives[0].transcript.split(' ')[0] %></span>
        <% for (var i = 0; i < transcription.results.channels[0].alternatives[0].words.length;  i++ ) { %>
<span class="words" end="<%= transcription.results.channels[0].alternatives[0].words[i].end %>" start="<%= transcription.results.channels[0].alternatives[0].words[i].start %>">   <%= transcription.results.channels[0].alternatives[0].words[i].word %> </span>

        <% } %>
    </div>  

    <div class="side-box"> 
      <h3>Response</h3>
      <div class="sidewords">
          <pre>   <%= JSON.stringify(transcription, null, 3) %> </pre>
      </div>
    </div>
                        
</div>


<% }); %>
      <!----------script---------->
<style>
  .here{
   border-bottom:2px solid yellow;
  }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script>

( function(win, doc) {
            var audioPlayer = doc.getElementById("adi");
            var subtitles = doc.getElementsByClassName("words");
                var syncData = <%- JSON.stringify(transcription.results.channels[0].alternatives[0].words) %>;

            

            audioPlayer.addEventListener("timeupdate", function(e){
                syncData.forEach(function(element, index, array){
                    if( audioPlayer.currentTime >= element.start && audioPlayer.currentTime <= element.end ){
                        $('.words').removeClass('here');
                        subtitles[index].classList.add('here');
                }
                });
            });
        }(window, document));


       
      
      </script>
    
      
      <!----------script---------->
 
</body>
</html>
